$box-sizing: border-box;
$font-size: 15px;
$text-color: #2B2D2D;
$font-family:  "遊ゴシック", "YuGothic", "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ",Meiryo,"ＭＳ Ｐゴシック";
$border: 1px solid #DEDEDE;
$border-radius: 4px;
$padding: 15px;
$width: 100%;
$btn-padding: 10px 15px;
$btn-font-size: 1em;
$btn-bg-color: #D9728E;
$btn-hover-color:#DF8BA2;
$btn-font-color: #fff;
$input-border:1px solid #b9b9af;
$grid-padding:0 15px;
